/* Color Palette for Site */
/*  Tan =  #f4f1de
/*  Red =  #e07a5f
/*  Navy =  #3d405b
/*  Green =  #81b29a
/*  Yellow =  #f2cc8f
 */


body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #f4f1de;
}
 .container-fluid {
     background-color: #f4f1de;
     width: auto;
     height: auto;
     margin: 0px;
 }

 .cardContainer {
     background-color: #f4f1de;
     width: 100vw;
     height: auto;
     margin: 0px;
     display: flex;
     flex-wrap: wrap;

 }
 .profile {
     background-color: #f4f1de;
     width: 100vw;
     height: auto;
     margin: 0px;
 }
 .aboutUsPage {
    background-color: #f4f1de;
    width: 100vw;
    height: auto;
    margin: 0px;
 }

 header{
     background-color: #e07a5f;
     height: 175px;
 }

 #logoHome {
     height: 250px;
 }

 .dropdown-menu {
     background-color: #81b29a;
 }

.dropdown-item{
    color: #f4f1de;
    font-size: 24px;
}
.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:hover{background-color: #f2cc8f !important;}

.spacer{
    height: 175px;
}
.navbar{
    overflow: hidden;
    background: #e07a5f;
    font-family: 'Handlee', cursive;
    
}

.aboutUs {
    height: 325px;
    border-radius: 50%;
}
.aboutUs2 {
    height: 175px;
    border-radius: 50%;
}

.name {
    font-family: 'Handlee', cursive;
}
