/* Color Palette for Site */
/*  Tan =  #f4f1de
/*  Red =  #e07a5f
/*  Navy =  #3d405b
/*  Green =  #81b29a
/*  Yellow =  #f2cc8f
 */


body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #f4f1de;
}
.bodyHome{
    background-color: #81b29a;
}
 .container-fluid {
     background-color: #81b29a;
     width: auto;
     height: auto;
     margin: 0px;
 }

 .cardContainer {
     background-color:#81b29a;
     width: 100vw;
     height: auto;
     margin: 0px;
     display: flex;
     flex-wrap: wrap;

 }

 .card{
     background-color: #f4f1de;
 }
 .profile {
     background-color: #f4f1de;
     width: 100vw;
     height: auto;
     margin: 0px;
 }
 .aboutUsPage {
    background-color: #f4f1de;
    width: 100vw;
    height: auto;
    margin: 0px;
 }

 header{
     background-color: #e07a5f;
     height: 175px;
 }

 #logoHome {
     height: 250px;
 }

 .homeImageLg {
     width: 1000px;
 }
 .homeImageMd {
     width: 700px;
 }
 .homeImageSm {
    width: 500px;
 }

 .dropdown-menu {
     background-color: #81b29a;
 }

.dropdown-item{
    color: #f4f1de;
    font-size: 24px;
}
.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:hover{background-color: #f2cc8f !important;}

.spacer{
    height: 175px;
}
.navbar{
    overflow: hidden;
    background: #e07a5f;
    font-family: 'Handlee', cursive;
    
}

.aboutUs {
    height: 325px;
    border-radius: 50%;
}
.aboutUs2 {
    height: 175px;
    border-radius: 50%;
}

.name {
    font-family: 'Handlee', cursive;
}
.navyFont {
    color: #3d405b;
}
.tanFont {
    color: #f4f1de;
}
.yellowFont {
    color: #f2cc8f;
}

footer {
    width: 100%;
    border-top: #3d405b solid;
    height: 75px;
    margin-top: 25px;
}

.card2 {
    width: 350px;
    background-color: #81b29a;
    color: #f4f1de;
    margin: 15px;
}
.card3 {
    width: 350px;
    background-color:#e07a5f;
    color: #f4f1de;
    margin: 15px;
}
.card4 {
    width: 350px;
    background-color:#3d405b;
    color: #f4f1de;
    margin: 15px;
}
.card5 {
    width: 350px;
    background-color:#f2cc8f;
    color: #3d405b;
    margin: 15px;
}

a:link {
    color: #3d405b;
}

a:hover {
    text-decoration: none;
    color:#81b29a;
}


