/* Color Palette for Site */
/*  Tan =  #f4f1de
/*  Red =  #e07a5f
/*  Navy =  #3d405b
/*  Green =  #81b29a
/*  Yellow =  #f2cc8f
 */

body{
    margin: 0px;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}
 .container-fluid {
     background-color: #e07a5f;
     
     /* width: 375px;
     height: 667px; */

     width: 100vw;
     height: 100vh;
 }

 .logIn {
     background-color: #81b29a;
 }


 /* xs */
#logo {
    width: 350px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    #logo {
        width: 400px;
    }
}
/* md */
@media (min-width: 992px) {
    #logo {
        width: 500px;
    }
}
/* lg */
@media (min-width: 1200px) {
    #logo {
        width: 500px;
    }
}